
.marquee-container {
  position: relative;
  overflow: hidden;
  max-width: 480px;
}

.marquee-wrapper {
  width: 300%;
  display: flex;
  gap: 48px;
  animation: marquee-scroll 15s linear infinite;
}

.marquee-item {
}

@keyframes marquee-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee-container:hover .marquee-wrapper {
  animation-play-state: paused;
}


