@import "colors";
@import 'scrollbar';
@import "components";

body[data-lock-scrolling] {
  overflow: auto hidden;
}

.Avada-Frame {
  display: flex;
  height: calc(100vh - 5.6rem);
}

.Polaris-Header-Title__TitleWithMetadataWrapper {
  display: flex;
  align-items: center;

  .Polaris-Header-Title__TitleMetadata {
    margin-top: 0;
  }
}

.Polaris-Modal-Dialog__Container {
  .Polaris-Modal-Header {
    align-items: center;

    .Polaris-Modal-CloseButton {
      margin-left: 1rem;
    }
  }
}


.announcementBar {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  overflow: hidden;
  font-weight: bold;
  background-size: cover;
  background-repeat: no-repeat;
  color: #333;
  position: relative;
}

.scrollTextContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  align-items: center;
  height: 30px;
}

.scrollTextTrack {
  display: inline-flex;
  white-space: nowrap;
  width: max-content;
  animation: conveyor linear infinite;
}

.scrollTextItem {
  padding-right: 40px; /* khoảng cách giữa các text, mềm, responsive */
  display: inline-block;
}

@keyframes conveyor {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%); /* đi hết 1 nửa track */
  }
}

.color-picker {
  border-radius: 8px;
  padding: 16px;
  border: 1px solid #ccc;
  cursor: pointer;

  &:hover {
    filter: brightness(95%);
  }
}

.Polaris-TextField__Input {
  display: block !important;
}

.carousel-container {
  width: 100%; /* Chiều rộng hiển thị 1 banner */
  overflow-x: auto; /* Cho phép scroll ngang */
  scroll-snap-type: x mandatory; /* Snap ngang */
  display: flex;
  gap: 20px; /* Khoảng cách giữa các banner */
}

.carousel-container::-webkit-scrollbar {
  display: none; /* Ẩn thanh scroll nếu muốn */
}

.carousel-container > * {
  flex: 0 0 100%; /* Mỗi banner chiếm 100% chiều rộng container */
  scroll-snap-align: start; /* Snap mỗi banner khi scroll */
}





