.Avava-SP__Wrapper {
  position: relative;
  z-index: 99;
  color: #333;
  width: 270px;
  text-wrap: auto;
}

.Avava-SP__Wrapper .Avava-SP__LinkWrapper {
  display: flex;
  color: #333;
  align-items: center;
  text-decoration: none;
}

@media screen and (max-width: 575px) {
  .Avava-SP__Wrapper {
    left: 15px;
  }
}

.Avava-SP__Wrapper img {
  max-width: 135px;
  visibility: hidden;
  top: -100px;
  left: -10px;
  text-align: center;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.Avava-SP__Wrapper .Avava-SP__Inner {
  position: relative;
}

.Avava-SP__Wrapper .Avava-SP__Inner:hover img {
  opacity: 1;
  visibility: visible;
  top: -120px;
}

.Avava-SP__Wrapper .Avava-SP__Container {
  border: 1px solid var(--p-color-bg);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 15px;
  padding: 5px;
  -webkit-box-shadow: 1px 0 5px rgba(5, 5, 5, 0.07);
  -moz-box-shadow: 1px 0 5px rgba(5, 5, 5, 0.07);
  background: linear-gradient(135deg, #e5e5e5, #ffffff);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); /* ngang, dọc, blur, màu */

}

.Avava-SP__Wrapper .Avava-SP__Image {
  height: 60px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  color: #43495a;
  font-size: 55px;
  width: 60px;
  display: inline-block;
  background-size: cover;
  background-position: center;
}

.Avava-SP__Wrapper .Avada-SP__Content {
  display: inline-block;
  width: calc(100% - 75px);
  width: -moz-calc(100% - 75px);
  width: -webkit-calc(100% - 75px);
  padding-left: 15px;
}

.Avava-SP__Wrapper .Avada-SP__Content .Avada-SP__Title {
  font-size: 12px;
  margin-bottom: 0;
}

.Avava-SP__Wrapper .Avada-SP__Content .Avada-SP__Subtitle {
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 600;
}

.Avava-SP__Wrapper .Avada-SP__Content .Avada-SP__Footer {
  font-size: 10px;
  line-height: 16px;
  margin-top: 5px;
}

.Avava-SP__Wrapper .Avada-SP__Content .uni-blue {
  color: #2196f3;
  border-left: 1px solid #e2e4e9;
  margin-left: 8px;
  padding-left: 8px;
}

.Avada__Truncate {
  display: -webkit-box;
  -webkit-line-clamp: 1; /* chỉ 1 dòng */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.Avada-SP__Close-icon {
  position: absolute;
  cursor: pointer;
  font-size: 18px;
  border-radius: 100%;
  right: 6px;
  top: 2px;
}

.Avada-SP__Close-icon:hover {
  color: red;
}
