.SalePops__Mobile-Preview {
  display: flex;
  flex-direction: column;
  height: 500px;
  background-color: #e6e6e6;
  padding: 12px;
  border-radius: 16px;
  align-items: center;
  border: 3px solid #dddddd;
}
